In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [2]:
features = pd.read_csv("https://raw.githubusercontent.com/nishithkotak/machine-learning/master/temps.csv")

In [3]:
features.head(5)

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41

In [4]:
 features.shape

(348, 12)

In [5]:
features.describe()

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
count,348.0,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000
mean,2016.0,6.477011,15.514368,62.652299,62.701149,59.760632,62.543103,57.238506,62.373563,59.772989,60.034483
std,0.0,3.498380,8.772982,12.165398,12.120542,10.527306,11.794146,10.605746,10.549381,10.705256,15.626179
min,2016.0,1.000000,1.000000,35.000000,35.000000,45.100000,35.000000,41.000000,46.000000,44.000000,28.000000
25%,2016.0,3.000000,8.000000,54.000000,54.000000,49.975000,54.000000,48.000000,53.000000,50.000000,47.750000
50%,2016.0,6.000000,15.000000,62.500000,62.500000,58.200000,62.500000,56.000000,61.000000,58.000000,60.000000
75%,2016.0,10.000000,23.000000,71.000000,71.000000,69.025000,71.000000,66.000000,72.000000,69.000000,71.000000
max,2016.0,12.000000,31.000000,117.000000,117.000000,77.400000,92.000000,77.000000,82.000000,79.000000,95.000000

In [6]:
features=pd.get_dummies(features)
features.head(5)

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2016,1,1,45,45,45.6,45,43,50,44,29,1,0,0,0,0,0,0
1,2016,1,2,44,45,45.7,44,41,50,44,61,0,0,1,0,0,0,0
2,2016,1,3,45,44,45.8,41,43,46,47,56,0,0,0,1,0,0,0
3,2016,1,4,44,41,45.9,40,44,48,46,53,0,1,0,0,0,0,0
4,2016,1,5,41,40,46.0,44,46,46,46,41,0,0,0,0,0,1,0

In [7]:
features.shape

(348, 18)

In [8]:
labels=np.array(features['actual'])

In [9]:
features=features.drop('actual',axis=1)

In [10]:
features

,year,month,day,temp_2,temp_1,average,forecast_noaa,forecast_acc,forecast_under,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2016,1,1,45,45,45.6,43,50,44,29,1,0,0,0,0,0,0
1,2016,1,2,44,45,45.7,41,50,44,61,0,0,1,0,0,0,0
2,2016,1,3,45,44,45.8,43,46,47,56,0,0,0,1,0,0,0
3,2016,1,4,44,41,45.9,44,48,46,53,0,1,0,0,0,0,0
4,2016,1,5,41,40,46.0,46,46,46,41,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,2016,12,27,42,42,45.2,41,50,47,47,0,0,0,0,0,1,0
344,2016,12,28,42,47,45.3,41,49,44,58,0,0,0,0,0,0,1
345,2016,12,29,47,48,45.3,43,50,45,65,0,0,0,0,1,0,0
346,2016,12,30,48,48,45.4,44,46,44,42,1,0,0,0,0,0,0
347,2016,12,31,48,57,45.5,42,48,47,57,0,0,1,0,0,0,0

In [11]:
feature_list=list(features.columns)
features=np.array(features)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
train_features,test_features,train_labels,test_labels=train_test_split(features,labels,test_size=0.25,random_state=42)

In [14]:
test_labels.shape

(87,)

In [15]:
from sklearn.ensemble import RandomForestRegressor

In [16]:
rf=RandomForestRegressor(n_estimators=1000,random_state=42)

In [17]:
rf.fit(train_features,train_labels)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [18]:
predictions=rf.predict(test_features)

In [19]:
predictions

array([69.857, 61.319, 51.891, 61.321, 66.463, 70.162, 78.848, 75.786,
       62.121, 74.078, 63.647, 72.176, 38.472, 62.433, 71.594, 56.012,
       60.943, 56.995, 56.748, 76.113, 63.758, 54.401, 66.493, 62.468,
       58.786, 53.032, 66.769, 46.448, 62.122, 80.176, 73.833, 64.313,
       55.188, 81.972, 74.178, 61.695, 53.636, 51.424, 68.929, 42.452,
       70.385, 57.373, 76.172, 42.396, 61.098, 74.08 , 52.745, 81.369,
       53.325, 42.487, 46.507, 42.144, 64.17 , 65.709, 74.13 , 61.339,
       55.177, 59.945, 54.651, 59.664, 65.491, 50.052, 60.849, 70.188,
       60.062, 59.236, 71.743, 69.796, 76.83 , 41.32 , 76.868, 56.783,
       60.378, 50.519, 54.426, 64.003, 43.711, 74.354, 47.306, 52.326,
       53.526, 68.21 , 73.607, 72.658, 63.243, 57.175, 46.04 ])

In [20]:
errors=abs(predictions-test_labels)

In [21]:
#Mean absolute percentage error
mape=100*(errors/test_labels)

mean_error=np.mean(mape)

In [22]:
accuracy=100-mean_error

In [23]:
accuracy

93.9325320799977

In [24]:
from sklearn.tree import export_graphviz
import pydot

In [25]:
tree=rf.estimators_[5]
export_graphviz(tree,out_file='tree.dot',feature_names=feature_list,rounded=True,precision=1)

In [26]:
(graph,)=pydot.graph_from_dot_file('tree.dot')
graph.write_png('tree.png');